.message-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 20px 0;
}

.user-message,
.chatbot-message {
    margin-bottom: 1rem;
    line-height: 1.4;
    word-wrap: break-word;
    max-width: 80%;
}

.user-message {
    align-self: flex-end;
    background-color: transparent;
    padding: 0;
    color: #f5f5f5;
}

.chatbot-message {
    align-self: flex-start;
    background-color: transparent;
    padding: 0;
    color: #f5f5f5;
}

#chat-container {
    background-color: #1c2331;
    padding: 20px;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
    margin-bottom: 20px;
}

#chat-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#message {
    flex-grow: 1;
    margin-right: 10px;
}

.submit-btn {
    background-color: #3f729b;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 8px;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #1c2331;
}

.timestamp {
    color: #B0BEC5;
    font-size: 0.8rem;
    display: block;
}

.user-message .timestamp {
    text-align: right;
    margin-top: 2px;
}

.chatbot-message .timestamp {
    text-align: left;
    margin-top: 2px;
}

