<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="inner-page">
        <nav class="top-nav">
          <div class="nav-left">
            <h3>BrainY</h3>
          </div>
          <div class="nav-right">
            <button id="logoutButton" class="small-button">Logout</button>
          </div>
        </nav>
      </header>
    <div class="center-div"><div class="container">
        <h1>My diary today</h1>
        <div class="action-buttons">
            <a class="extra-small-button" href="{{ url_for('chat', user_id=user_id) }}" target="_blank">Chat</a>
            <a class="extra-small-button" href="{{ url_for('view_summaries', user_id=user_id) }}" target="_blank">View Past Records</a>
        </div>
        <div class="diary-container">
            <div class="diary-container-left">
            <p>{{ summary }}</p></div>
            <div class="diary-container-right">
            <h2>Key Points</h2>
            <ul>
                {% for category, items in key_points.items() %}
                    <li><strong>{{ category }}</strong>: {{ ', '.join(items) }}</li>
                {% endfor %}
            </ul></div>
        </div>
    </div></div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("logoutButton").addEventListener("click", function() {
        window.location.href = '{{ url_for("logout") }}';
});
});
</script>

</body>
</html>

