<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
    <script>
        function showPopup(message) {
            alert(message);
        }
    </script>
</head>
<body>
    {% if error %}
        <script>
            showPopup('{{ error }}');
        </script>
    {% endif %}
    <div class="center-div">
    <div class="auth-container">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="post" class="auth-form">
            <div class="input-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            
            <input type="submit" value="Login" class="submit-btn">
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div></div>
</body>
</html>
